<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h1 class="h2 fw-bold mb-2"><%= t('orders.edit.title') %>: <%= @order.order_no %></h1>
    <p class="text-muted mb-0"><%= t('orders.edit.description') %></p>
  </div>
</div>

<%= render "form", order: @order %>
